.lesson-card {
    font-family: 'Inter', sans-serif;
}

.fire-icon-box {
    background: #fff0ee;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    font-size: 20px;
}

.avatar-group {
    display: flex;
    align-items: center;
}

.avatar-group img,
.avatar-more {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid white;
    margin-left: -10px;
    object-fit: cover;
}

.avatar-group img:first-child {
    margin-left: 0;
}

.avatar-more {
    background: #eef2ff;
    color: #4f26ff;
    font-size: 10px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}